::-webkit-scrollbar {
	display: none;
}

::selection {
	background: #186d4e; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #186d4e; /* Gecko Browsers */
}

/* overwriting some default prismjs syntax styles */
.prose pre {
	background-color: #1e1f1c !important;
	font-size: 1rem !important;
}

.prose a {
	color: #34d399;
}

.prose a {
	color: #34d399;
}

.prose strong,
.prose blockquote {
	color: #f3f4f6;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
	color: #34d399;
}

.prose code,
.prose code::before,
.prose code::after {
	color: #34d399;
}

.prose li::before {
	color: #34d399 !important;
}

.prose ul > li::before {
	background-color: #34d399;
}

.prose ol > li::before {
	color: #9ca3af;
}

.prose hr {
	border-color: #34d399;
}

.prose blockquote {
	border-left-color: #34d399;
}

#watermark {
	line-height: 0.75;
}

option:hover {
	background-color: yellow;
}
