::-webkit-scrollbar {
	display: none;
}

.prose pre {
	background-color: #1e1f1c;
	border: 1px solid #34d399;
}

.prose a {
	color: #34d399;
}

.prose a {
	color: #34d399;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose strong,
.prose blockquote,
.prose code,
.prose code::before,
.prose code::after {
	color: #f3f4f6;
}

.prose li::before {
	color: red;
}

.prose ol > li::before {
	color: #9ca3af;
}
